<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Bosh sahifa</h1>
<hr>
<p>Bu saytning asosiy sahifasi !</p>

<a href="/talabalar/">Talabalar</a>
<a href="/mualliflar/">Mualliflar</a>
<a href="/kitoblar/">Kitoblar</a>
<a href="/kutubxonachilar/">Kutubxonachilar</a>
<a href="/recordlar/">Recordlar</a>

<br>
<br>
<br>
<br>

<a href='mualliflar/'>1. Hamma mualliflarni chiqaruvchi html/view yozing.</a><br>
<a href='mualliflar/<int:muallif_id>/'>2. Tanlangan bitta muallifning hamma ma’lumotlarini chiqaruvchi html/view yozing.</a><br>
<a href='kitoblar/'>3. Hamma kitoblarni chiqaring.</a><br>
<a href='kitoblar/<int:kitob_id>/'>4. Tanlangan biron id’dagi kitobning hamma ma’lumotlarini chiqaring.</a><br>
<a href='recordlar/'>5. Hamma recordlarni chiqaring.</a><br>
<a href='tirik-mualliflar/'>6. Tirik mualliflarni chiqaring.</a><br>
<a href='katta-kitoblar/'>7. Sahifasi eng katta 3 ta kitobni chiqaring.</a><br>
<a href='katta-kitoblar/'>8. Kitobi eng ko’p 3 ta muallifni chiqaring.</a><br>
<a href='oxirgi-recordlar/'>9. Recordlarni olingan sanasi bo’yicha eng oxirgi 3 tasini chiqaring.</a><br>
<a href='muallifi-tirik-kitoblar/'>10. Tirik mualliflarning kitoblarini chiqaring.</a><br>
<a href='badiiy-kitoblar/'>11. Hamma ‘badiiy’ kitoblarni chiqaring.</a><br>
<a href='yoshi_katta-mualliflar/'>12. Tug’ilgan yilidan kelib chiqib yoshi eng katta bo’lgan 3 ta muallifni chiqaruvchi view/html yozing.</a><br>
<a href='kichik-mualliflar/'>13. Kitob soni 10 tadan kichik bo’lgan mualliflarning hamma kitoblarini chiqaruvchi view/html yozing.</a><br>
<a href='recordlar/<int:record_id>/'>14. HaTanlangan biron id’dagi recorddagi hamma ma’lumotlarni chiqaruvchi html/view yozing.</a><br>
<a href='bitiruvchilar-rekordlar/'>15. Bitiruvchi studentlarga tegishli hamma recordlarni chiqaruvchi html/view yozing.</a><br>
</body>
</html>