<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Mualliflar</title>
</head>
<body>
    <h1>Mualliflar</h1>
    <hr>
    <a href="/">Bosh sahifa</a>
    {% for muallif in mualliflar %}
        <p>{{ forloop.counter }}.
            <a href="/mualliflar/{{ muallif.id }}/">
                {{ muallif.name }}
            </a>
            <button>
                <a href="{% url 'muallif-update' muallif.id %}">Tahrirlash</a>
            </button>
        </p>
    {% endfor %}

    <hr>
    <h3>Yangi muallif qo'shish</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Yangi muallifni qo'shish</button>
    </form>
</body>
</html>
