<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Recordlar</h1>
<hr>
<a href="/">Bosh sahifa</a>
    {% for record in records %}
    <p>
        {{ forloop.counter }}.
        <a href="/recodlar/{{ record.id }}/">
            {{ record.student.name }}
        </a>
        <a href="{% url 'record-update' record.id %}">
            <button>
                Tahrirlash
            </button>
        </a>
    </p>
    {% endfor %}

    <hr>
    <h3>Yangi record qo'shish</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Recordni  qo'shish</button>
    </form>
</body>
</html>